@font-face {
    font-family: "YandexSansBold";
    src: url("/font/Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "YandexSansMedium";
    src: url("/font/Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

h1 {
    font-family: "YandexSansBold";
}

p {
    font-family: "YandexSansMedium";
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow-x: hidden;
    overflow-y: hidden; */
}

body {
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #FFDBE7;
    flex-direction: column;
    cursor: url(https://img.icons8.com/?size=32&id=DFU1kReSUccu&format=png&color=000000), default;
}

.container {
    display: flex;
    background-color: white;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 500px;
    height: 800px;
    border-radius: 50px;
    cursor: url(https://img.icons8.com/?size=100&id=DFU1kReSUccu&format=png&color=000000), pointer;
    transition: box-shadow 1s;
    box-shadow: 0;
    overflow: hidden;
    position: relative;
}

.container:hover {
    box-shadow: 0px 0px 60px 60px rgba(255, 177, 203, 0.597)
}

.container * {
    transition: 0.5s;
}

.container h1:hover, p:hover, img:hover {
    transform: scale(1.1);
}

.container h1:hover{
    color: #ff9abcc6
}

.container h1 {
    font-size: 50px;
    margin-top: 50px;
}

.container p {
    font-size: 35px;
    margin-top: 25px;
}

.text1:hover p {
    color: #ff9abcc6
}

.text1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -50px;
    z-index: 1;
    width: 300px;
    height: 100px;
}

.container img {
    width: 400px;
    height: auto;
    z-index: 1;
}

@media (max-width: 500px) {

    .container {
        width: 100vw;
        height: 100vh;
        border-radius: 0;
        background-color: white;
    }

    .container * {
        cursor: default;
        transition: none;
        transform: scale(1);
    }

    .container h1:hover,
    .container p:hover {
        color: initial;
        transform: none;
    }

    .container h1 {
        font-size: 50px;
        margin-top: 50px;
    }

    .container p {
        z-index: 1;
        margin-top: 5px;
        font-size: 25px;
    }

    .container img {
        width: 400px;
        height: auto;
        z-index: 0;
    }
}


/* 
.heartcont {
    display: flex;
    align-items: center;
    justify-content: right;
    position: relative;
    top: 20px;
} */

/* я не успел сместить( */



.heart{
    width: 30px;
    height: 30px;
    background-color: red;
    position: absolute;
    top: 30px;
    rotate: 45deg;
    right: 45px;
}

.heart::before, .heart::after{
    content: '';
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
}

.heart::before {
    left: -15px;
}

.heart::after {
    top: -15px;
}